// Colors
// $background: #2c2f33;
// $blue: #d24d57;
// $dark-blue: #23272a;
// $accent: #22a7f0;
// $white: #ECF0F1;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
